.ViewColumns {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.ViewHand {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 1em;
  background-color: #eee;
}

.ViewBoard {
  flex-grow: 1;
}
.ViewBoardTitle {
  margin: 1em;
  font-size: 2em;
  text-align: center;
}
.ViewBoardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ViewCard {
  cursor: pointer;
  height: 5em;
  width: 8em;
  padding: 0 1em;
  box-sizing: border-box;

  text-align: center;
  color: black;
  background: white;
  border: 0.6em solid black;
  border-radius: 1em;
  margin: 0.2em;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ViewCardLibrary {
  cursor: text;
  color: white;
}

.ViewCardTarget {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  color: purple;
  font-weight: bold;
}

