html,
body,
#root {
  margin: 0;
}

.ViewMenu {
  width: 100%;
  height: 100vh;

  padding: 2em;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}
.ViewMenuRow {
  margin: 1em;
}
